.fate.accelerated.character-sheet .window-content {
	.main-sheet {
		flex-direction: column;

		& > * {
			margin-bottom: 0.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.4rem;
		padding: 0.3rem 1rem;
		color: white;
		background: black;

		h1 {
			margin: 0;
			padding: 0;
			background: none;
		}

		.item-control {
			font-weight: bold;
		}
	}

	.item-list {
		flex: 1;
	}

	.sheet-group {
		display: flex;

		& > * {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}

		&.vertical {
			flex-direction: column;

			& > * {
				margin-right: 0;
				margin-bottom: 0.6rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.left {
			flex: 1;
		}

		&.fill {
			flex: 1;
		}
	}

	.property {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 0.2em;
		padding: 0.2em;
		border: 2px solid black;

		&:last-child {
			margin-bottom: 0;
		}

		label {
			display: block;
			margin-bottom: 0.1em;
			font-size: 0.8em;
		}
	}

	.profile {
		flex: 0 0 134px;
		max-width: 134px;
		height: 134px;
		object-fit: contain;
		border: 2px solid black;
		border-radius: 0;
	}

	.consequences {
		flex: 1;
	}

	.stunts {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.approaches-list {
		.approach-item {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 0.2em;

			&:last-child {
				margin-bottom: 0;
			}
		}
		.property-label {
			margin-right: 0.4em;
			font-weight: bold;
			text-align: right;
		}
	}

	.consequences-list {
		.consequence {
			display: flex;
			margin-bottom: 0.2em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.property {
			flex: 1;

			.property-label {
				font-size: 0.7em;
			}
		}

		.consequence-value {
			width: 0.8em;
			margin-right: 0.1em;
			font-weight: $font-black;
			font-size: 2em;
			text-align: right;
		}
	}
}

.fate.item .window-content {
	background: rgb(200, 200, 200);

	form {
		display: flex;
		flex-direction: column;
	}

	.tabs {
		margin-bottom: 4px;
		align-items: center;
		font-weight: bold;
		border-bottom: 2px solid black;

		.item {
			padding: 4px;

			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}

			&.active {
				background: rgba(0, 0, 0, 0.25);
				text-shadow: none;
				cursor: default;
			}
		}
	}

	.sheet-header {
		margin-bottom: 0.5rem;

		h1 input {
			margin: 0;
			width: 100%;
		}
	}

	.sheet-content,
	.sheet-body,
	.tab {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.editor {
		height: 100%;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid black;

		.editor-content {
			padding-left: 8px;
		}
	}
}
