@mixin refresh-input {
	min-height: 0;
	border: none;
	background: none;
	font-weight: bold;
	text-align: center;
}

.fate.condensed.character-sheet {
	.header {
		padding: 0 1rem;
		font-size: 1.4em;
	}

	.property {
		padding: 0;
		border: none;
	}

	.item-list {
		.header {
			.item-controls {
				font-size: 1rem;
			}
		}
	}

	.name {
		flex: 1;
		margin-bottom: 0;

		.property-input {
			font-size: 1.4em;
		}
	}

	.image {
		height: 60px;
	}

	.sheet-grid {
		flex: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
	}

	.aspects {
		.property-container {
			margin-right: 0.3rem;
			margin-bottom: 0.6rem;
		}
	}

	.vitals {
		border-left: 4px solid black;

		.property-container {
			margin-left: 0.3rem;
			margin-bottom: 0.6rem;
		}
	}

	.skills {
		border-left: 4px solid black;
	}

	.stunts-list {
		margin-right: 0.3rem;
	}

	.skills-list {
		margin-left: 0.3rem;
	}

	.left-column {
		display: flex;
		flex-direction: column;
	}

	.stunts {
		margin-bottom: 0.4rem;
	}

	.fate-points {
		position: relative;
		margin-top: 3em;
		margin-bottom: 1em;

		.header {
			text-align: right;
		}

		.content {
			position: absolute;
			display: flex;
			align-items: center;
			top: -3em;
			left: 2em;
		}

		.current-field {
			width: 6em;
			height: 6em;
			border: 4px solid black;
			border-radius: 100%;
			background: hsl(0, 0, 90%);
			z-index: 1;

			.current-input {
				@include refresh-input();
				width: 100%;
				height: 100%;
				min-height: 0;
				padding-left: 0.1em;
				font-size: 3.6em;
			}
		}

		.refresh-field {
			width: 3em;
			margin-left: -0.4em;
			padding: 0.2em 0;
			border: 2px solid black;
			border-top-right-radius: 100px;
			border-bottom-right-radius: 100px;
			background: hsl(0, 0, 90%);

			.refresh-input {
				@include refresh-input();
				font-size: 2em;
			}
		}
	}
}
