.approach-select {
	display: inline-block;
	position: relative;
	border: 1px solid #aaa;
	text-align: right;

	select {
		visibility: hidden;
		padding-right: 10px;
	}

	.selected {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 3px 19px 3px 3px;
		background: #efefef;
		cursor: pointer;

		&:after {
			content: '';
			width: 0;
			height: 0;
			border: 5px solid transparent;
			border-color: black transparent transparent transparent;
			position: absolute;
			top: 9px;
			right: 6px;
		}

		&:focus {
			outline: 2px solid black;
			outline-offset: -2px;
		}

		&.disabled {
			color: #555;
			outline: none;
			cursor: default;

			&:after {
				border-top-color: #555;
			}
		}
	}

	.selected-hover {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 999;
		background: rgba(0, 0, 0, 0.5);
	}

	.options {
		display: none;
		position: absolute;
		top: -1px;
		right: -1px;
		left: -1px;
		margin: 0;
		padding: 0;
		z-index: 998;
		list-style-type: none;
		background: #eee;
		border: 1px solid #aaa;

		li {
			padding: 3px 19px 3px 3px;
			transition: background-color 100ms;

			&:hover {
				background: #aaa;
			}
		}
	}
}

.stress-boxes {
	display: flex;
	flex-direction: column;

	.stress-item {
		display: flex;
		margin-bottom: 0.2em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.stress-number {
		width: 0.8em;
		margin-right: 0.1em;
		font-weight: $font-black;
		font-size: 2em;
		text-align: right;
	}

	.stress-box {
		position: relative;
		display: block;
		width: 3em;
		height: 3em;
		border: 4px solid black;
		cursor: pointer;

		input[type='checkbox'] {
			position: absolute;
			top: -999px;
			opacity: 0;
			width: 0;
			height: 0;
		}

		.fa-check {
			position: absolute;
			display: none;
			font-size: 2.5em;
		}

		&:hover input ~ .fa-check {
			display: block;
			color: rgba(0, 0, 0, 0.25);
		}

		input:checked ~ .fa-check {
			display: block;
			color: black;
		}

		&.disabled {
			cursor: default;

			&:hover input:not(:checked) ~ .fa-check {
				display: none;
			}
		}

		// input:focus ~ .fa-check {
		// 	color: red;
		// }
	}
}

.fill {
	flex: 1;
}
