.fate.accelerated.character-sheet {
	.logo {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 196px;

		.logo-divider {
			width: 100%;
			border: none;
			border-bottom: 4px solid rgb(22, 113, 185);
		}

		.image {
			border: none;
		}

		.title {
			color: rgb(22, 113, 185);
			font-size: 1.6em;
			font-weight: 900;
			text-transform: uppercase;
		}
	}

	.refresh {
		flex: 1;

		// .property {
		// 	margin: 0;
		// }
	}

	.approaches-list {
		.approach-item {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 0.2em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.property-label {
			margin-right: 0.4em;
			font-size: 1em;
			font-weight: bold;
			text-align: right;
		}
	}
}
