.fate.item .window-content {
	overflow: hidden;

	form {
		overflow: hidden;
	}

	.sheet-header {
		margin-bottom: 0.5rem;

		h1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.6em;
		}

		input {
			padding: 0 0.2em;
			font-weight: bold;
		}
	}

	.sheet-content {
		overflow: hidden;
	}

	.sheet-body {
		overflow-y: scroll;
	}

	.tab[data-tab].active {
		flex-direction: column;
	}

	.data {
		display: flex;
		flex-direction: column;

		label {
			line-height: 1.85em;
			font-weight: bold;
			text-align: right;
		}

		input[type='checkbox'] {
			height: auto;
		}

		.property {
			background: hsla(0, 0, 100%, 0.75);
		}

		&-skill {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 4px;
			align-items: center;
			padding: 0.4em 6em;
			font-size: 1.4em;
		}

		&-extra {
			.basic {
				display: grid;
				grid-template-columns: auto 1fr;
				gap: 4px;
				align-items: center;
			}

			.actions {
				h2 {
					margin-bottom: 0.6em;
					border-bottom: 2px solid black;
					text-align: center;
				}

				.actions-list {
					display: flex;
					flex-direction: column;

					.action-header {
						margin-bottom: 0.4em;
						padding-left: 0.2em;
						font-weight: bold;
					}

					.property-textarea {
						margin-bottom: 0.6em;
						border-bottom: 2px solid black;
					}
				}
			}
		}
	}
}
