.fate.window-app .window-content {
	.sheet-body,
	.sheet-content {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.tabs {
		margin-bottom: 4px;
		align-items: center;
		font-weight: bold;
		border-bottom: 2px solid black;

		.item {
			padding: 4px;

			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}

			&.active {
				background: rgba(0, 0, 0, 0.25);
				text-shadow: none;
				cursor: default;
			}
		}
	}

	.tab[data-tab].active {
		flex: 1;
		display: flex;
	}

	.main-sheet {
		flex-direction: column;
	}

	.editor {
		height: 100%;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid black;

		.editor-content {
			padding-left: 8px;
		}
	}

	.header {
		margin-bottom: 0.4rem;
		padding: 0.3rem 1rem;
		background: black;
		color: white;
		font-size: 1.2em;
	}

	.small-header {
		font-size: 1.1em;
	}

	.sheet-group {
		display: flex;

		&:not(.vertical) {
			&:not(:last-child) {
				margin-bottom: 0.6rem;
			}

			& > *:not(:last-child) {
				margin-right: 1rem;
			}
		}

		&.vertical {
			flex-direction: column;

			& > *:not(:last-child) {
				margin-bottom: 0.4rem;
			}
		}

		&.fill {
			flex: 1;
		}
	}

	.property {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.2em;
		border: 2px solid black;

		&:not(:last-child) {
			margin-bottom: 0.2em;
		}

		&-label {
			display: block;
			margin-bottom: 0.1em;
			font-size: 0.8em;
		}
	}

	.refresh {
		display: flex;
		flex-direction: column;

		.refresh-boxes {
			flex: 1;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.property {
				width: 5rem;
				height: 5rem;
				margin: 0;

				&:not(:last-child) {
					margin-right: 5px;
				}
			}

			.property-input {
				display: flex;
				width: 100%;
				height: initial;
				min-height: initial;
				font-weight: bold;
				font-size: 2.9em;
				text-align: center;
			}
		}
	}

	.item-list {
		flex: 1;
		display: flex;
		flex-direction: column;

		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.3rem 1rem;
			color: white;
			background: black;

			.item-control {
				font-weight: bold;
			}
		}

		.item-list-content {
			flex: 1;
			padding: 2px;
			border: 2px solid black;
		}
	}

	.stunt-list-item {
		display: flex;
		padding: 2px;
		background: white;
		border: 1px solid black;

		&:not(:last-child) {
			margin-bottom: 2px;
		}

		.item-name {
			flex: 1;

			h4 {
				margin: 0;
				font-weight: bold;
			}
		}
	}

	.consequences-list {
		.consequence {
			display: flex;

			&:not(:last-child) {
				margin-bottom: 0.2em;
			}
		}

		.property {
			flex: 1;

			.property-label {
				font-size: 0.7em;
			}
		}

		.consequence-value {
			width: 0.8em;
			margin-right: 0.1em;
			font-weight: $font-black;
			font-size: 2em;
			text-align: right;
		}
	}

	.biography {
		.artwork {
			margin-right: 0.7rem;

			img {
				width: 200px;
				border: 2px solid black;
				border-radius: 0;
				cursor: pointer;

				&.disabled {
					cursor: default;
				}
			}
		}

		.text {
			flex: 1;
			display: flex;
			flex-direction: column;
		}

		.editor {
			flex: 1;
			height: 100%;
			background: rgba(255, 255, 255, 0.2);
			border: 1px solid black;
		}
	}
}
